powny_git_remotes:
  - ssh://git@localhost:2022/var/lib/powny/rules.git

powny_api_url: http://localhost:7887/api

kibana_dashboard_url: https://localhost/index.html#/dashboard/elasticsearch/powny

elastic_url: http://localhost:9201

output:
    email:
      server: localhost

logging:
    version: 1
    disable_existing_loggers: false
    loggers:
        requests.packages.urllib3.connectionpool:
            level: WARN
        urllib3.connectionpool:
            level: WARN
    formatters:
        default:
            (): colorlog.ColoredFormatter
            style: "{"
            format: "{yellow}{asctime} {log_color}{levelname:>7} {purple}{name:20.20}{reset} {message}"
    handlers:
        default:
            class: logging.StreamHandler
            formatter: default
    root:
        handlers: [default]
